.listpage-header {
  padding-top: 60px;
  padding-bottom: 75px;
}

.listpage-content {
  display: flex;
  justify-content: space-between;
}

.listpage-categories {

  & .item--big {
    margin-bottom: 12px;
  }
}

.listpage-exercises {

  & .item {
    margin-bottom: 10px;
  }
}

