.listpage-header {
  padding-top: 60px;
  padding-bottom: 75px;
}

.listpage-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.listpage-categories {
  flex-grow: 1;
  margin-bottom: 50px;

  & .item--big {
    margin-bottom: 12px;
  }
}

.listpage-exercises {
  flex-grow: 1;

  & .item {
    margin-bottom: 10px;
  }
}

